*.class
*.log
fpinscala/project/target/config-classes/$41dd33fa332c20391127.cache
fpinscala/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
fpinscala/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
fpinscala/project/target/streams/_global/_global/_global/streams/out
fpinscala/project/target/streams/_global/csrConfiguration/_global/streams/out
fpinscala/project/target/streams/_global/csrProject/_global/streams/out
fpinscala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
fpinscala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
fpinscala/project/target/streams/_global/ivyConfiguration/_global/streams/out
fpinscala/project/target/streams/_global/ivySbt/_global/streams/out
fpinscala/project/target/streams/_global/moduleSettings/_global/streams/out
fpinscala/project/target/streams/_global/projectDescriptors/_global/streams/out
fpinscala/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
fpinscala/project/target/streams/_global/update/_global/streams/out
fpinscala/project/target/streams/compile/_global/_global/compileOutputs/previous
fpinscala/project/target/streams/compile/_global/_global/discoveredMainClasses/data
fpinscala/project/target/streams/compile/bspReporter/_global/streams/out
fpinscala/project/target/streams/compile/compile/_global/streams/out
fpinscala/project/target/streams/compile/compileIncremental/_global/streams/export
fpinscala/project/target/streams/compile/compileIncremental/_global/streams/out
fpinscala/project/target/streams/compile/copyResources/_global/streams/copy-resources
fpinscala/project/target/streams/compile/copyResources/_global/streams/out
fpinscala/project/target/streams/compile/dependencyClasspath/_global/streams/export
fpinscala/project/target/streams/compile/exportedProducts/_global/streams/export
fpinscala/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
fpinscala/project/target/streams/compile/incOptions/_global/streams/out
fpinscala/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
fpinscala/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
fpinscala/project/target/streams/compile/managedClasspath/_global/streams/export
fpinscala/project/target/streams/compile/scalacOptions/_global/streams/out
fpinscala/project/target/streams/compile/unmanagedClasspath/_global/streams/export
fpinscala/project/target/streams/compile/unmanagedClasspath/_global/streams/out
fpinscala/project/target/streams/compile/unmanagedJars/_global/streams/export
fpinscala/project/target/streams/runtime/dependencyClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/exportedProducts/_global/streams/export
fpinscala/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/fullClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
fpinscala/project/target/streams/runtime/managedClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
fpinscala/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
fpinscala/project/target/streams/runtime/unmanagedJars/_global/streams/export
fpinscala/target/bg-jobs/sbt_23f28bc2/job-1/target/b35afcb1/c6254701/scala3-simple_3-0.1.0.jar
fpinscala/target/bg-jobs/sbt_53c4d9f/job-1/target/b35afcb1/f9ea2168/scala3-simple_3-0.1.0.jar
fpinscala/target/bg-jobs/sbt_63d30060/job-1/target/b35afcb1/9a7cef39/scala3-simple_3-0.1.0.jar
fpinscala/target/bg-jobs/sbt_cda132e0/job-1/target/b35afcb1/113fcea6/scala3-simple_3-0.1.0.jar
fpinscala/target/scala-3.0.1/scala3-simple_3-0.1.0.jar
fpinscala/target/scala-3.0.1/classes/c2.tasty
fpinscala/target/scala-3.0.1/classes/c3.tasty
fpinscala/target/scala-3.0.1/classes/chapter2/Composition.tasty
fpinscala/target/scala-3.0.1/classes/chapter2/Curry.tasty
fpinscala/target/scala-3.0.1/classes/chapter2/Fibonacci.tasty
fpinscala/target/scala-3.0.1/classes/chapter2/Sorted.tasty
fpinscala/target/scala-3.0.1/classes/chapter2/Uncurry.tasty
fpinscala/target/scala-3.0.1/classes/chapter3/Cons.tasty
fpinscala/target/scala-3.0.1/classes/chapter3/List.tasty
fpinscala/target/scala-3.0.1/classes/chapter3/Nil.tasty
fpinscala/target/scala-3.0.1/update/update_cache_3/inputs
fpinscala/target/scala-3.0.1/update/update_cache_3/output
fpinscala/target/scala-3.0.1/zinc/inc_compile_3.zip
fpinscala/target/streams/_global/_global/_global/streams/out
fpinscala/target/streams/_global/csrConfiguration/_global/streams/out
fpinscala/target/streams/_global/csrProject/_global/streams/out
fpinscala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
fpinscala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
fpinscala/target/streams/_global/ivyConfiguration/_global/streams/out
fpinscala/target/streams/_global/ivySbt/_global/streams/out
fpinscala/target/streams/_global/moduleSettings/_global/streams/out
fpinscala/target/streams/_global/projectDescriptors/_global/streams/out
fpinscala/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
fpinscala/target/streams/_global/update/_global/streams/out
fpinscala/target/streams/compile/_global/_global/compileOutputs/previous
fpinscala/target/streams/compile/_global/_global/discoveredMainClasses/data
fpinscala/target/streams/compile/bspReporter/_global/streams/out
fpinscala/target/streams/compile/compile/_global/streams/out
fpinscala/target/streams/compile/compileIncremental/_global/streams/export
fpinscala/target/streams/compile/compileIncremental/_global/streams/out
fpinscala/target/streams/compile/copyResources/_global/streams/copy-resources
fpinscala/target/streams/compile/copyResources/_global/streams/out
fpinscala/target/streams/compile/dependencyClasspath/_global/streams/export
fpinscala/target/streams/compile/exportedProductJars/_global/streams/export
fpinscala/target/streams/compile/exportedProducts/_global/streams/export
fpinscala/target/streams/compile/externalDependencyClasspath/_global/streams/export
fpinscala/target/streams/compile/incOptions/_global/streams/out
fpinscala/target/streams/compile/internalDependencyClasspath/_global/streams/export
fpinscala/target/streams/compile/internalDependencyClasspath/_global/streams/out
fpinscala/target/streams/compile/mainClass/_global/streams/out
fpinscala/target/streams/compile/managedClasspath/_global/streams/export
fpinscala/target/streams/compile/packageBin/_global/streams/inputs
fpinscala/target/streams/compile/packageBin/_global/streams/out
fpinscala/target/streams/compile/packageBin/_global/streams/output
fpinscala/target/streams/compile/run/_global/streams/out
fpinscala/target/streams/compile/scalacOptions/_global/streams/out
fpinscala/target/streams/compile/unmanagedClasspath/_global/streams/export
fpinscala/target/streams/compile/unmanagedClasspath/_global/streams/out
fpinscala/target/streams/compile/unmanagedJars/_global/streams/export
fpinscala/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
fpinscala/target/streams/runtime/exportedProductJars/_global/streams/export
fpinscala/target/streams/runtime/externalDependencyClasspath/_global/streams/export
fpinscala/target/streams/runtime/fullClasspathAsJars/_global/streams/export
fpinscala/target/streams/runtime/internalDependencyAsJars/_global/streams/export
fpinscala/target/streams/runtime/internalDependencyAsJars/_global/streams/out
fpinscala/target/streams/runtime/managedClasspath/_global/streams/export
fpinscala/target/streams/runtime/unmanagedClasspath/_global/streams/export
fpinscala/target/streams/runtime/unmanagedClasspath/_global/streams/out
fpinscala/target/streams/runtime/unmanagedJars/_global/streams/export
